### ignore all. {{{
/*
#}}}

### but, specific not ignored files and directories. {{{
!/.gitignore
!/.gitconfig

!/.profile

!/.ssh/config

!/usr/sbin/viminstall

# direcotory.
!/.bash
!/.vim
#}}}

### further, ignore settings overwrite. {{{
/.bash/history

/.vim/.bundle/
/.vim/.bundle-work/
#}}}
